.card {
  min-width: 300px;
  max-width: 300px;
  min-height: 400px;
  max-height: 400px;
  margin-right: 20px
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 900px;
  height: 400px;
  .card {
    display: inline-block;
  }
}

.card-image {
  height: 167px;
  width: auto;
}

.card-top {
  margin-left: auto;
  margin-right: auto;
}

.card-body {
  overflow-y: scroll;
  height: 212px;
}